annotated-types
anyio
astroid
certifi
charset-normalizer
click
coverage
dill
exceptiongroup
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
isort
Jinja2
MarkupSafe
mccabe
packaging
platformdirs
playwright
pluggy
pydantic
pydantic_core
pyee
pylint
pytest
pytest-cov
pytest-pylint
requests
sniffio
starlette
tomli
tomlkit
typing_extensions
urllib3
uvicorn